h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: lighter;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
}

.form-group {
  width: 60%;
  margin: 10px auto;
}

.form-group input {
  float: right;
  width: 60%;
}

.alert {
  text-align: center;
}

label {
  font-size: 20px;
}

.custom-select {
  width: 60%;
  float: right;
}

.btn {
  float: right;
  width: 150px;
  margin:5px;
}

.summary {
  margin-top: 100px;
  text-align: center;
}
