<div class="container">
   <h1>Kalkulator kontraktu</h1>
  <form [formGroup]="signinForm" (ngSubmit)=onSubmit()>
    <div class="form-group">
      <label for="dailySalary" class="col-form-label">Podaj dzienne zarobki</label>
      <input
        id="dailySalary"
        formControlName="dailySalary"
        class="form-control currency"
        type="number"
        step="0.01"
        required
        min="1"
      >
      <div *ngIf="!signinForm.valid" class="alert alert-danger">
        Zakres wartości 1 - 10 000
      </div>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="country">Wybierz kraj</label>
        <select class="custom-select" formControlName="country" id="country">
          <option value="PL" selected="selected">Polska (PLN)</option>
          <option value="UK">Wielka Brytania (GBP)</option>
          <option value="DE">Niemcy (EUR)</option>
        </select>
      </div>
    <div class="form-group">
      <button class="btn btn-primary" type="button" (click)="onReset()">Wyczyść</button>
      <button class="btn btn-success" type="submit" [disabled]="!signinForm.valid">Oblicz</button>
    </div>
  </form>
  <div *ngIf="summary!=null" class="summary">
    <h2>Zarobki miesięczne: {{summary.salary}} {{summary.currency}}</h2>
    <h2>Podatek: {{summary.taxValue}} {{summary.currency}}</h2>
    <h2>Koszty stałe: {{summary.fixedCosts}} {{summary.currency}}</h2>
    <h2>Podsumowanie: <a [ngStyle]="{color: checkEarnings()}"> {{summary.earnings}} PLN</a></h2>
  </div>
</div>
